* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #42e242, #c3f6c3);
    font-family: 'Kiwi Maru', serif;
    color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%
}

h2, h4 {
    text-align: center;
}

span {
    text-align: left;
    padding-left: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color:  lightgoldenrodyellow;
    border-radius: 0.5rem;    
    border: 0.1rem solid grey;
    box-shadow: 0.1rem 0.1rem 0.2rem darkslategray;
    cursor: pointer;
}


 /* CHORES */

.choreDiv {
    width: 100%;
    max-width: 25rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    background-color: lightgoldenrodyellow;
    border: 0.1rem solid darkgreen;
    border-radius: 0.5rem;
    cursor: pointer;
}

#choreContainer, #chores {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
 /* FORM */

#form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.field {
    padding: 0 0.5rem;
    max-width: 15rem;
}
 
 /* TIMER */

#timer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-image: linear-gradient(180deg, #42e242, #c3f6c3);
}

#timerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    max-width: 40rem;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(250, 250, 210, 0.8), rgba(158, 158, 32, 0)), url('./assets/marsvin.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.2rem solid darkgreen;
    border-radius: 2rem;
    color: black;
}

#countdown {
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
}

#timerButton {
    width: 50%;
    max-width: 10rem;
    background-color: tomato;
    font-size: larger;
    font-weight: bold;
}

#cancelButton {
    width: 50%;
    max-width: 10rem;
    background-color: lightgoldenrodyellow;
    font-size: larger;
    margin-top: 1rem;
}

