* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(180deg, #42e242, #c3f6c3);
    font-family: 'Kiwi Maru', serif;
    color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%
}

h2, h4 {
    text-align: center;
}

span {
    text-align: left;
    padding-left: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color:  lightgoldenrodyellow;
    border-radius: 0.5rem;    
    border: 0.1rem solid grey;
    box-shadow: 0.1rem 0.1rem 0.2rem darkslategray;
    cursor: pointer;
}

.choreDiv {
    width: 100%;
    max-width: 25rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    background-color: lightgoldenrodyellow;
    border: 0.1rem solid darkgreen;
    border-radius: 0.5rem;
    cursor: pointer;
}

.input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.field {
    padding: 0 0.5rem;
    max-width: 15rem;
}


#choreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chores {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}



