body {
    background-color: lightgreen;
    font-family: 'Kiwi Maru', serif;
    color: darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h4 {
    text-align: center;
}

span {
    text-align: left;
    padding-left: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color:  lightgoldenrodyellow;
    border-radius: 0.5rem;    
    border: 0.1rem solid grey;
    box-shadow: 0.1rem 0.1rem 0.2rem darkslategray;
}

.choreDiv {
    width: 90%;
    max-width: 20rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: lightgoldenrodyellow;
    border: 0.1rem solid darkgreen;
    border-radius: 0.5rem;
}

.input {
    margin: 0.5rem 0;
    width: 100%;
}

.field {
    padding: 0 0.5rem;
    max-width: 15rem;
}


#choreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chores {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}



